/*neuropsy*/
$black: #34435e;
$white: #ffffff;

.hero-neuro {
  background-image: url("../images/nerve-cell.jpg");
}

.neuropsy {
  color: #333;

  .neuro-section {
    h2 {
      text-align: center;
      text-transform: uppercase;
      margin: auto;
      margin-top: 60px;
      background-color: #333;
      color: #fff;
      padding: 6px 18px;
      border-radius: 4px;
      position: absolute;
    }
    .img {
      width: 50%;
      height: 80vh;
      background-size: cover;
      display: flex;
      justify-content: center;
      flex: 1 1 600px;
      @media (min-width: 760px) {
        min-width: 450px;
      }
    }
    .text {
      width: 50%;
      margin: 0 auto;
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.3rem;
      min-width: 450px;
      flex: 1 1 600px;
      @media (max-width: 760px) {
        margin-top: 40px;
        padding: 0;
        min-width: unset;
        .wrapper{
          justify-content: unset;
        }
      }

      h3 {
        text-transform: capitalize;
        width: 60%;
      }
      ol li {
        font-size: 1.2rem;
        margin: 22px;
      }
      p {
        width: 80%;
        margin: auto;
        @media (max-width: 760px) {
          width: 100%;
        }
      }
    }
  }

  .neuro-who {
    flex-wrap: wrap-reverse;
    .who > ul {
      display: flex;
      justify-content: space-around;
      width: 90%;
      margin: auto;
      padding-left: 0;
      li{
        padding-left: 0;
      }
      @media (max-width: 760px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        li{
          width: 74%;
          max-width: unset;
          &::before{
            transform: skew(1deg, 1deg);
          }
        }
      }

    }
  }
  .img {
    background: url("../images/neuro/for-who.jpg") no-repeat top;
  }
}

.neuro-bilan {
  .img {
    background: url("../images/neuro/bilan.jpg") no-repeat center;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text {
    h3 {
      margin: auto;
      text-align: center;
      width: 80% !important;
      font-size: 1.4rem !important;
      @media (max-width: 760px) {
        width: 100% !important;
        padding: 0 6px;
        margin-bottom: 30px;
      }
    }
    p {
      font-size: 1rem;
    }
  }
  .bilans {
    width: 100%;
    margin: auto;
    @media (max-width: 760px) {
      width: 100%;
      padding: 20px;
      margin: 0;
    }
    p {
      font-size: 1rem;
      line-height: 1.2em;
      border-top: 3px solid;
      border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
      border-image-slice: 1;
      border-width: 3px;
      margin: auto;
      padding: 30px;
      counter-increment: section;
      position: relative;

      //numbers
      &:before {
        content: counter(section);
        position: absolute;
        border-radius: 50%;
        height: 1.5em;
        width: 1.5em;
        background-color: $black;
        text-align: center;
        line-height: 1.25em;
        color: $white;
        font-size: 0.9em;
      }
    }
    //odd number borders
    p:nth-child(odd) {
      border-right: 3px solid;
      padding-left: 50px;

      &:before {
        left: 100%;
        margin-left: -10px;
      }
    }
    //even number borders
    p:nth-child(even) {
      border-left: 3px solid;
      padding-right: 0;

      &:before {
        right: 100%;
        margin-right: -10px;
      }
    }
    //handle first and last
    p:first-child {
      border-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    p:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

}

.neuro-deroulement {
  justify-content: center;
  width: 100%;
  flex-wrap: wrap-reverse;
  .img {
    background: url("../images/neuro/deroulement.png") no-repeat center;
  }
}
.neuropsy .neuro-duration {
  display: flex;
  justify-content: center;
  .img {
    background: url("../images/neuro/duration.jpg") no-repeat center;
  }
  @media (max-width: 760px) {
    .text{
      min-height: unset;
      margin-top: 30px;
      p{
        padding: 0 20px;
        width: 100%;
      }
    }
  }
}
.neuropsy .neuro-remediation {
  display: flex;
  flex-wrap: wrap-reverse;
  .img {
    background: url("../images/neuro/emma8.png") no-repeat center;
    width: 50%;
  }
  .text p {
    padding: 24px 0;
    font-size: 1rem;
    @media (max-width: 760px) {
        padding: 20px;
        width: 100%;
    }
  }
}
