body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #fff;
  section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 62px;
  }
 .carousel,.references-hero, .formation-container, .hero{
    margin-top: 62px;
  }
}
h1,
h2,
h3,
h4,
h5,
address{
  font-family: "Raleway", sans-serif;
}
h2, h3{
  font-family: "Assistant SemiBold", sans-serif;
}
.carousel {
  height: 65vh;
  display: flex;
  align-items: center;
  .carousel-inner {
    height: 65vh;
    .carousel-item {
      height: 65vh;
      .carousel-caption{
        position: relative;
        backdrop-filter: blur(4px);
        margin: auto;
        display: flex;
        width: fit-content;
        right: unset;
        left: unset;
        padding: 14px;
        @media screen and (max-width: 768px) {
          flex-direction: column;
          backdrop-filter: blur(12px);
        }
      }
      &.active{
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 768px) {
          align-items: flex-end;
          .carousel-caption{
            margin-bottom: -20px !important;
          }
        }
      }
    }
    .carousel1 {
      background: url("../images/ttc/hero.jpg") no-repeat center;
      background-size: cover;
    }
    .carousel2 {
      background: url("../images/ttc/girl.jpg") no-repeat center;
      background-size: cover;
    }
    .carousel3 {
      background: url("../images/ttc/unhappy.jpg") no-repeat center;
      background-size: cover;
    }
    .carousel4 {
      background: url("../images/ttc/beach.jpg") no-repeat center;
      background-size: cover;
    }
  }
}

nav ul li {
  text-transform: capitalize;
  a.formation-navlink{
    color: #934b05 !important;
  }
  a{
    @media screen and (max-width: 460px) {
      font-size: .85rem;
    }
  }
}

.home-organisme{
  display: flex;
  justify-content: center;
  background-image: url("../images/home_alps.jpg");
  height: 90vh;
  align-items: baseline;
  h2{
    margin: 90px 20px auto 20px;
    color: #0e1d49;
    font-size: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    white-space: nowrap;
    @media screen and (max-width: 768px) {
      padding: 20px;
      flex-direction: column;
    }
  }
}

.foot {
  display: flex;
  justify-content: space-around;
  width: 74%;
  padding: 50px 14px;
  gap: 16px;
  img.logo-qualiopi{
    margin: auto;
  }
  @media screen and (min-width: 768px) {
    width: 74%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    margin: auto;
  }
  .footer-item {
    text-align: center;
    min-width: 160px;
    ul{
      list-style-type: none;
      padding-left: 0;
    }
    li {
      padding-left: 0;
      margin: 8px;
    }
    a {
      color: rgb(235, 235, 31);
    }
  }
}

@import "neuro.scss";
@import "tcc.scss";
@import "timeline.scss";
@import "for-who.scss";
@import "honoraires.scss";
@import "references.scss";
@import "cabinet";
@import "formations/base";
