/*ttc*/
/*hero area*/
.hero-ttc {
  background: url("../images/ttc/hero.jpg") no-repeat bottom;
}
.hero {
  background-size: cover;
  height: 64vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: -54px;
    font-weight: bold;
  }
}
.ttc-description,
.category-description {
  width: 76%;
  margin: auto;
  padding: 60px;
  font-size: 1.2rem;
  @media (max-width: 768px) {
    width: 100%;
    padding: 20px;
  }
}

/* sections*/
.ttc-section {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 84vh;
  background-color: rgb(234, 249, 253);
  &:nth-child(even) {
    flex-wrap: wrap;
  }
  &:nth-child(odd) {
    flex-wrap: wrap-reverse;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 60px auto auto auto;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 6px 18px;
    border-radius: 4px;
  }
  h5 {
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  .ttc-area {
    flex: 1 1 440px;
  }
  .img {
    background-size: 100% auto;
  }
  .text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 76vh;
    p {
      width: 60%;
      margin: auto;
    }
    .detail {
      padding: 40px;
      margin: auto;
      text-align: center;
    }
    /*general display for lists*/
    ul,
    ol {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      list-style-type: none;
      width: 100%;
      align-self: center;
      padding: 0;
      li {
        width: 100%;
        text-align: center;
        padding: 4px;
        align-self: center;
      }
    }
  }
}

/*techniques part1*/
.techniques {
  .text {
    padding: 0;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  p {
    font-size: 1.5rem;
    padding: 100px 0;
  }
  .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    ol {
      width: 80%;
      margin: 20px auto;
    }
  }
  .detail:nth-child(1) {
    width: 100%;
    height: 50%;
  }
  .detail:nth-child(2),
  .detail:nth-child(3) {
    height: 45%;
    //flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  //@media (max-width: 900px) {
  //  .text {
  //    p {
  //      width: 100%;
  //      margin: 40px;
  //    }
  //  }
  //}
}
.technique-comportementales,
.technique-cognitives,
.autres-techniques {
  padding: 20px !important;
  height: auto !important;
  p.technique-comportementales-text,
  p.technique-cognitives-text,
  p.autres-techniques-text {
    font-size: 1rem !important;
    padding: 20px !important;
    width: 100%;
    @media (max-width: 768px) {
      margin:40px 0;
    }
  }
}
.technique-cognitives,
.autres-techniques {
  margin-top: -50px !important;
}

/*techniques part2*/
.techniques2 {
  .text {
    display: flex;
    flex-wrap: wrap;
    .detail {
      margin-top: 20px;
      hr {
        width: 64%;
        margin: 0 auto;
      }
      ol {
        list-style-type: square;
        li {
          text-align: left !important;
          margin-left: 30px;
        }
      }
      &:nth-child(1) {
        width: 100%;
      }
    }
  }
}

.ttc-section .text {
  animation-duration: 1s;
  animation-name: slidein;
  &.techniques-text{
    @media (max-width: 768px) {
      p{
        width: 100%;
        padding: 20px;
      }
    }
  }
}

/*for who ?*/
.who {
  .text1 {
    padding-top: 110px;
  }
  .text {
    ul {
      height: 100%;
      width: 100%;
      justify-content: center;
      padding: 0;
    }
  }
  /*who section*/
  .text-wrap {
    width: 33.33%;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 20px;
    font-size: 1.2rem;
    margin: 0;
    transition: border ease 0.6s;
    color: #333;
    flex: 1 1 330px;
    border: solid 1px rgba(33, 33, 33, 0.1);
    position: relative;
  }
  .text-wrap:hover, .text-wrap:active, .text-wrap:focus {
    border: solid 1px #333;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    .definition {
      z-index: 300;
      visibility: visible;
      transition: opacity ease 1s;
      opacity: 1;
    }
  }
  .definition {
    opacity: 0;
    transition: all ease 0.7s;
    visibility: hidden;
    background-color: rgb(253, 248, 248);
    position: absolute;
    padding: 16px;
    color: #333;
    bottom: 100%;
    text-align: left;
    border: solid 6px #cab406;
    @media (min-width: 768px) {
      width: 760px;
    }
    //&::before{
    //  content: "\00d7";
    //  color: #d33434;
    //  font-size: 1.6rem;
    //  position: absolute;
    //  right: 6px;
    //  top: 4px;
    //  font-weight: bold;
    //}
    @media (max-width: 768px) {
      width: 100%;
      bottom: 100%;
      margin-left: 0;
      left: 0;
      right: 0;
    }
    p {
      width: 100%;
      text-align: left;
      margin-bottom: 14px;
      padding-bottom: 8px;
      border-bottom: 1px solid rgba(33, 33, 33, 0.3);
      ul {
        text-align: left !important;
        width: 100%;
        margin: 0;
        li {
          background-color: #fff !important;
          text-align: left !important;
        }
      }
    }
  }
  .text2 {
    .detail {
      display: flex;
      flex-direction: column;
      @media (max-width: 768px) {
        padding: 20px;
      }
      h6 {
        font-size: 1.4rem;
        width: 80%;
        margin: auto;
        @media (max-width: 768px) {
          width: 100%;
          padding:0 20px;
        }
      }
      ul {
        margin-top: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .text-wrap {
          height: 40px;
          width: 80%;
          margin: 0 auto;
          flex: 1 1;
          .definition{
            left: -80%;
          }
          @media (max-width: 768px) {
            width: 100%;
            .definition{
              left: 0;
            }
          }
        }
      }
    }
  }
}

/*déroulement*/

.deroulement {
  .text {
    color: #333;
    padding: 0 !important;
    background-color: rgb(234, 249, 253);
  }
  h4 {
    width: 76%;
    margin: auto;
    font-size: 1.6rem;
  }
  h5 {
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  .detail {
    padding: 0;
  }
  .detail ol {
    display: flex;
    align-items: top;
    div {
      align-self: top;
      margin: 0;
    }
    li {
      flex: 1 1 400px;
      width: 50%;
      display: flex;
      align-self: flex-start;
      height: 50%;
      padding: 50px;
      p {
        width: 90%;
      }
    }
  }
}

/*images*/
.ttc-section .img {
  background-size: cover !important;
  min-height: 76vh !important;
}
.techniques1 .img {
  background: url("../images/ttc/beach.jpg") no-repeat center;
}

.techniques2 .img {
  background: url("../images/ttc/balance.jpg") no-repeat bottom;
}
.who .img {
  background: url("../images/ttc/unhappy.jpg") no-repeat center;
}
.who2 .img {
  background: url("../images/ttc/girl.jpg") no-repeat center left;
}

.deroulement .img {
  background: url("../images/ttc/stairs.jpg") no-repeat center;
}
.deroulement2 .img {
  background: url("../images/ttc/puzzle.jpg") no-repeat center left;
}
