$primary: #3f51b5;
$dark-primary: #303f9f;
$light-primary: #c5cae9;
$text: #ffffff;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #ff8c40;

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
}

/*vertical line*/
.timeline {
  position: relative;
  line-height: 1;

  &::before {
    content: "";
    background: $light-primary;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.timeline-item {
  width: 100%;
  margin-bottom: 5px;
  p {
    padding: 10px 40px !important;
    font-size: 1rem;
  }

  &:nth-child(even) {
    .timeline-content {
      float: right;

      .date {
        right: auto;
        left: 0;
      }

      /*lil arrow */
      &::after {
        content: "";
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
      }
    }
  }
  /*space*/
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.timeline-content {
  position: relative;
  width: 45%;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  /*lil arrow */
  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
  }
}

/*bullets*/
.timeline-img {
  width: 24px;
  height: 24px;
  background: $primary;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -12px;
}

.date {
  background: $accent;
  display: inline-block;
  color: $text;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 460px) {
    .timeline {
      width: 92%;
      margin: auto;
      .timeline-item {
        width: 100%;
        margin: auto;
        .timeline-content{
          p{
            width: 100%;
          }
        }
        &:nth-child(odd) {
          .timeline-content p {
            padding: 10px 40px 10px 14px !important;
          }
        }
        &:nth-child(even) {
          .timeline-content p {
            padding: 10px 14px 10px 40px !important;
          }
        }
      }
    }
 }
//@media screen and (max-width: 768px) {
//  .timeline {
//    &::before {
//      left: 50px;
//    }
//    .timeline-img {
//      left: 50px;
//    }
//
//    .timeline-content {
//      max-width: 45%;
//      border: ridge red;
//      //width: auto;
//    }
//
//    .timeline-item {
//      &:nth-child(even) {
//        .timeline-content {
//          float: none;
//        }
//      }
//
//      &:nth-child(odd) {
//        .timeline-content {
//          &::after {
//            content: "";
//            position: absolute;
//            border-style: solid;
//            width: 0;
//            height: 0;
//            top: 30px;
//            left: -15px;
//            border-width: 10px 15px 10px 0;
//            border-color: transparent #f5f5f5 transparent transparent;
//          }
//        }
//      }
//    }
//  }
//}
